<p style="font-size:30px; text-align:center; line-height:120%">
<br>
COMS W 4111-03, H03, V03<br>
Introduction to Databases<br>
Spring 2019 Take Home Midterm
</p>

# Exam Overview and Instructions

- Homework assignments and exams have point values that contribute to the final grade. Final grade depends on total point value. The range of total possible points for a semester is 0 to 100 points.
    - The grade for this midterm is in the range 0 to 100. The sum of the point values of the questions is 110 points. You can answer all questions and your grade will be the sum of the points up to a maximum of 100. Answering all questions cannot decrease your grade. The point values of the questions is:
        - Section 3 has 5 questions that require writing SQL queries. Each questions is work 10 points.
        - Sections 4, 5, 6 and 7 each have one question woth 15 points.
    - __This midterm exam is contributes 20 points__ for your final semester point total. So, divide your score on this exam by 5 to determine point contribution.


- Submission:
    - The exam is due on Sunday, 17-Mar-2018 at 11:59PM. __You may not use grace days.__
    - Submission:
        - Submission format is a zip file containing this Jupyter Notebook with your solutions entered into the code cells or Markdown cells for each question. If you embed images or diagrams, you need to include the images in the zip file.
        - The file name must be of the form "uni_midterm_s_2019.zip" Replace the string "uni" with your uni. Please do not submit a file without performing the replacement.
        - You submit your homework on CourseWorks under [Midterm Examination](https://courseworks2.columbia.edu/courses/79571/assignments/274101) assignment.
        - No other formats are allowed.
        - If the notebook format is incorrect or the notebook is corrupted, the grade is 0.
        - Submissions after the due date and time are not allowed. Submissions not received on time receive a grade of 0.
    - Respect for the individual is paramount. We will accommodate special circumstances, but we must be notified and discuss __in advance.__
    

- Exam Rules:
    - Please read and review the [Academic Integrity policy and guidelines](https://www.college.columbia.edu/academics/academicintegrity), including subsections and details. This material defines the base rules for this exam regardless of your school.
    - No student collaboration of any form is permitted. You may not share material of any form, including links to on-line information, __information from the preparatory recitation section,__ suggestions or ideas, etc.
    - You __MAY__ use material from office hours or recitations.
    - You __MAY__ use any on-line information you find, but may not directly use code you find. You must cite any on-line sources in the comments Markdown cell for each questions.
    - You must privately send comments or questions to Professor Ferguson __via email.__ If questions or comments demonstrate a need for clarification or correction, Prof. Ferguson will update this document and post the correction information on this and only this [Piazza topic.](https://piazza.com/class/jpltphl4wz76cm?cid=595)
    - You may not discuss the exam on Piazza. Private posting and anonymous post is disabled during the midterm examination period, and will be re-enabled after the midterm.

- Completing the exam:
    - Environment:
        - You must use an unmodified, original lahman 2017 database for many of the questions.
        - Other questions ask you to create a database/schema. The questions provide instructions.
        - You can load the original Lahman 2017 database by downloading and unzipping this file: [lahman2017raw.sql](https://courseworks2.columbia.edu/files/4377424/download?download_frd=1)
            - You can import the data and create the database in MySQL Workbech.
            - Use the menu function "Server->Data Import." 
            - Check the option "Import from Self-Contained File."
            - Make sure that "Dump Structure and Data" is chosen in the selection in the last row of the import wizard.
        - You must install and use [%%SQL Magic for iPtython](https://github.com/catherinedevlin/ipython-sql) for executing any SQL statements in code cells.
        - Section 2 tests the setup of your environment. You __MUST USE__  dbuser:dbuserdbuser@localhost/lahman2017raw. 
        - Your database __MUST HAVE__ a user ```dbuser``` with pasword ```dbuserdbuser```
    - Each question starts with an explanation of the structure of the answer, e.g. prose, diagram, SQL, etc.
    - Questions requiring SQL or code have empty code cells where you enter your statements. Some also contain sample answers to help you determine if your answer is correct. You must show the execution of your SQL in your submission. You may use LIMIT 10 to reduce the size of results.
    - Some of the queries may take several minutes to complete. In module II, we will demonstrate how to improve query performance using indexes.

# Environment Test

This section tests the environment. You must change the "userid:pw" to "dbuser:dbuserdbuser" for your MySQL instance. Unless you have received an exception, you __MUST USE dbuser:dbuserdbuser.__

## SQL Magic Plugin

In [4]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuserdbuser@localhost/lahman2017raw
        
%sql select * from people where playerid='willite01'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01')]

## Helper Python Libraries

### Imports

In [5]:
import pymysql
import json
import copy
import pymysql.cursors

"""
The core exceptions that PyMySQL throws. A data access abstraction layer like XXXDataTable
would convert to a common set of data technology independent exceptions. This enables a single
application code base for accessing data.

Just FYI. I do not use in this code.
"""
pymysql_exceptions = (
    pymysql.err.IntegrityError,
    pymysql.err.MySQLError,
    pymysql.err.ProgrammingError,
    pymysql.err.InternalError,
    pymysql.err.DatabaseError,
    pymysql.err.DataError,
    pymysql.err.InterfaceError,
    pymysql.err.NotSupportedError,
    pymysql.err.OperationalError)

### Connection Management and JSON Helpers

In [6]:
# Default connection info to use if caller does not specify one.
_default_connect_info = {
        'host': 'localhost',
        'user': 'dbuser',
        'password': 'dbuserdbuser',
        'db': 'lahman2017raw',
        'port': 3306
    }

# Shared, default connection to use if the caller does not provide a specific
# connection.
_default_cnx = pymysql.connect(
               _default_connect_info['host'],
                _default_connect_info['user'],
                _default_connect_info['password'],
                _default_connect_info['db'],
            charset='utf8mb4',
            cursorclass=pymysql.cursors.DictCursor)

# A pool of names connections.
_connections = {}


def safe_json_dump(o):
    """

    :param o: Object to dump to a string.
    :return: json.dumps() with default=str or text if cannot convert to JSON.
    """

    try:
        result = json.dumps(o, indent=2, default=str)
    except Exception as e:
        result = "Not JSON - " + print(o)

    return result


def get_connection(c_name, host=None, port=None, user=None, password=None, db=None):
    """

    :param c_name: Name of a possibly pre-created connection.
    :param host: Host for a new connection
    :param port: Port for a new connection
    :param user: User for a new connection.
    :param password: Password for new connection.
    :param db: DB/schema to connect to.
    :return: The pre-created connection if it exists, or a connection created with the
    passed parameters.
    """

    try:
        cnx = _connections.get(c_name, None)
    
        if cnx is None:
            c_info = copy.copy(_default_connect_info)
            if host is not None:
                c_info['host'] = host
            if port is not None:
                c_info['port'] = port
            if user is not None:
                c_info['user'] = user
            if password is not None:
                c_info['password'] = password
            if db is not None:
                c_info['db'] = db
            c_info['charset']= 'utf8mb4'
            c_info['cursorclass'] = pymysql.cursors.DictCursor
                
            cnx = pymysql.connect(**c_info)


    except Exception as e:
        print("Connect failure, e = ", e)
        raise e

    return cnx

### Helper Method for Running Query

__NOTE:__ Do not worry about the commit, cursor, etc. parameters. This is set up for module II topics.

In [7]:
def run_q(cnx=None, q=None, args=None, fetch=False, commit=True, cursor=None, rowid=None):
    """

    :param cnx: Caller supplied connection to use. One is created, if none.
    :param q: Query string
    :param args: Args for insertion to replace %s parameters
    :param fetch: Return the resulting rowset. If False/None, return the response code from
    the cursor operation.
    :param commit: Commit the transaction if true.
    :param cursor: Cursor to use for operation. One is created if None.
    :param rowid: Get and return auto-increment rowid if true.

    :return: Rowset from fetchall, cursor RC or rowid depending of parameters.
    """

    result = None

    try:
        connection_created = False

        if cursor is None:
            if cnx is None:
                cnx = get_connection(c_name=None)
                connection_created = True

            cursor = cnx.cursor()

        qs = cursor.mogrify(q, args)
        #print("Mogrified cursor = ", qs)

        result = cursor.execute(q, args)


        if fetch:
            result = cursor.fetchall()
        else:
            if rowid:
                result = cursor.lastrowid

        if commit:
            cnx.commit()
        if connection_created:
            cnx.close()

    except pymysql_exceptions as original_e:
        print("Original exception = ", original_e)

        if commit:
            cnx.rollback()

        if connection_created:
            cnx.close()

        raise (original_e)

    return result

In [8]:
run_q(cnx=None, q="select playerID, nameLast, nameFirst from people where playerid = %s", 
      args=('willite01'), fetch=True)

[{'nameFirst': 'Ted', 'nameLast': 'Williams', 'playerID': 'willite01'}]

# SQL Data Manipulation Language Questions

## Complex Query $-$ Performance Statistics by Year (10 points)

### Question

- Use the ```lahman2017raw``` database/schema.


- Create an annual performance summary table using a single query statement. 


- The columns are:
    - From ```people:``` ``` playerID, nameLast, nameFirst, birthYear, deathYear, bats, throws```
    - From ```appeareances:``` ```teamid, yearid, g_all```
    - From ```batting:``` 
        - The underlying columns are ```ab, h, hr, rbi```
        - The row for a ```teamID, yearID``` is the sum for the year.
    - From ```fielding:``` 
        - The underlying columns are ```a, e, po```
        - The row for a ```teamID, yearID``` is the sum for the year.
    - From ```pitching:``` 
        - The underlying columns are ```g, w, l```
        - The row for a ```teamID, yearID``` is the sum for the year.


- Test your result for playerID 'martipe02'


- __Note:__
- Your query must produce the correct results for any ```playerID.``` We will text using other ```playerIDs.```
- Your column names and values __MUST__ match the same answer.

### Answer

In [12]:
%%sql
SELECT
    people.playerid, people.nameLast, people.nameFirst, birthyear,
    if(length(deathYear)>0, deathYear, "--") as deathYear, bats, throws,
    appearances.teamid, appearances.yearid, appearances.g_all,
    ifnull(batting_year.ab,0) as ab, ifnull(batting_year.h,0) as h, ifnull(batting_year.hr, 0) as hr,
        ifnull(batting_year.rbi,0) as rbi,
    ifnull(fielding_year.a,0) as a, ifnull(fielding_year.e,0) as p_w, ifnull(fielding_year.po,0) as po,
    ifnull(pitching_year.p_g,0) as p_g, ifnull(pitching_year.w,0) as p_w, ifnull(pitching_year.l,0) as l
from
    people left join appearances using(playerid)
    left join ((select playerID, teamid, yearid, sum(ab) as ab, sum(h) as h, sum(hr) as hr,
               sum(rbi) as rbi from batting
            group by playerid, teamid, yearid) as batting_year)
on
    appearances.playerid = batting_year.playerid and appearances.teamid = batting_year.teamid
        and appearances.yearid=batting_year.yearid
        
left join
    (select playerid, teamid, yearid, sum(a) as a, sum(e) as e, sum(po) as po
        from fielding group by playerid, teamid, yearid, stint, pos) as fielding_year
on  
    appearances.playerid=fielding_year.playerid and
    appearances.teamid=fielding_year.teamid and
    appearances.yearid=fielding_year.yearid
left join
    (select playerid, yearid, teamid, sum(g) as p_g, sum(w) as w, sum(l) as l
         from pitching group by playerid, teamid, yearid) as pitching_year
on
    appearances.playerid=pitching_year.playerid and appearances.teamid=pitching_year.teamid
        and
        appearances.yearid=pitching_year.yearid
where
    people.playerid = 'martipe02'

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
18 rows affected.

[('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '1998', '33', 7.0, 0.0, 0.0, 0.0, 18.0, 4.0, 11.0, 33.0, 19.0, 7.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '1999', '31', 2.0, 0.0, 0.0, 0.0, 15.0, 1.0, 13.0, 31.0, 23.0, 4.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '2000', '29', 0.0, 0.0, 0.0, 0.0, 28.0, 0.0, 14.0, 29.0, 18.0, 6.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '2001', '18', 0.0, 0.0, 0.0, 0.0, 5.0, 0.0, 5.0, 18.0, 7.0, 3.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '2002', '30', 5.0, 0.0, 0.0, 0.0, 16.0, 2.0, 16.0, 30.0, 20.0, 4.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '2003', '29', 3.0, 0.0, 0.0, 0.0, 20.0, 0.0, 14.0, 29.0, 14.0, 4.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '2004', '33', 2.0, 0.0, 0.0, 0.0, 16.0, 1.0, 16.0, 33.0, 16.0, 9.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'LAN', '1992', '2', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 1.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'LAN', '1993', '66', 4.0, 0.0, 0.0, 0.0, 4.0, 0.0, 4.0, 65.0, 10.0, 5.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'MON', '1994', '24', 44.0, 4.0, 0.0, 5.0, 15.0, 4.0, 9.0, 24.0, 11.0, 5.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'MON', '1995', '30', 63.0, 7.0, 0.0, 2.0, 23.0, 2.0, 14.0, 30.0, 14.0, 10.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'MON', '1996', '33', 64.0, 6.0, 0.0, 4.0, 17.0, 3.0, 11.0, 33.0, 13.0, 10.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'MON', '1997', '31', 69.0, 8.0, 0.0, 0.0, 31.0, 1.0, 7.0, 31.0, 17.0, 8.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'NYN', '2005', '31', 69.0, 6.0, 0.0, 1.0, 19.0, 0.0, 6.0, 31.0, 15.0, 8.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'NYN', '2006', '23', 38.0, 4.0, 0.0, 1.0, 13.0, 5.0, 7.0, 23.0, 9.0, 8.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'NYN', '2007', '5', 9.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 5.0, 3.0, 1.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'NYN', '2008', '20', 39.0, 6.0, 0.0, 4.0, 17.0, 0.0, 6.0, 20.0, 5.0, 6.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'PHI', '2009', '9', 14.0, 1.0, 0.0, 1.0, 6.0, 0.0, 1.0, 9.0, 5.0, 1.0)]

### Notes, Comments

__Note:__
- You may add any comments or clarifications here.
- This is optional.
- Double click on this cell/text to open the Markdown edit box.
- You do not need to use markdown and can just enter text.
- There are many Markdown tutorials on the web, e.g. [this tutorial](https://www.markdowntutorial.com/)

## Determine People who Played for and Managed the Same Team in their Career<br> (10 points)

### Question

- A person (```playerID```) played for a team (```teamID```) if there is an entry for the ```playerid, teamid``` combination in ```appearances.```


- A person (```playerID```) managed a team (```teamID```) if there is an entry for the ```playerid, teamid``` combination in ```managers.```


- Write a query that returns a table containing rows for people who played for and managed the same team, but not necessarily in the same year.


- The resulting table should have the following columns:
    - From ```people: playerID``` and first_name, last_name
    - From ```appearances: teamID``` and the total games played for the team
    - From ```Managers:``` the total number of games managed.
    - The result should also contain: ```first_year, last_year.``` first_year is the earliest of the first row in ```managers``` or ```players``` and last_year is the latest year the person played or managed for the team.
    

- The resulting table __MUST__
    - Be ordered by last_year, descending and use limit 10.
    - Match the column names, column values, etc. in the sample answer.


- Your query may use only one ```JOIN.```

### Answer

In [17]:
%%sql
select
    a.playerid,
    (select nameLast from people where a.playerid=people.playerid) as last_name,
    (select nameFirst from people where a.playerid=people.playerid) as first_name,
    a.teamid, a.player_p as g_played, b.player_m as g_managed,
        if (a.p_min_yearid<b.m_min_yearid, a.p_min_yearid, b.m_min_yearid) as first_year,
        if (a.p_max_yearid>b.m_max_yearid, a.p_max_yearid, b.m_max_yearid) as last_year,
        (a.player_p + b.player_m) as total_g 
        
from
    (select playerid, teamid, min(yearid) as p_min_yearid, max(yearid) as p_max_yearid,
        sum(g_all) as player_p from appearances group by playerid, teamid) as a 
join
    (select playerid, teamid, min(yearid) as m_min_yearid, max(yearid) as m_max_yearid,
        sum(g) as player_m from managers group by playerid, teamid) as b
on
    a.playerid=b.playerid and a.teamid=b.teamid
order by
    last_year desc;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
514 rows affected.

[('ausmubr01', 'Ausmus', 'Brad', 'DET', 352.0, 646.0, '1996', '2017', 998.0),
 ('cashke01', 'Cash', 'Kevin', 'TBA', 13.0, 486.0, '2005', '2017', 499.0),
 ('counscr01', 'Counsell', 'Craig', 'MIL', 711.0, 461.0, '2004', '2017', 1172.0),
 ('francte01', 'Francona', 'Terry', 'CLE', 62.0, 808.0, '1988', '2017', 870.0),
 ('girarjo01', 'Girardi', 'Joe', 'NYA', 379.0, 1620.0, '1996', '2017', 1999.0),
 ('mackape01', 'Mackanin', 'Pete', 'PHI', 18.0, 412.0, '1978', '2017', 430.0),
 ('mathemi01', 'Matheny', 'Mike', 'SLN', 622.0, 972.0, '2000', '2017', 1594.0),
 ('molitpa01', 'Molitor', 'Paul', 'MIN', 422.0, 486.0, '1996', '2017', 908.0),
 ('roberda07', 'Roberts', 'Dave', 'LAN', 302.0, 324.0, '2002', '2017', 626.0),
 ('venturo01', 'Ventura', 'Robin', 'CHA', 1254.0, 810.0, '1989', '2016', 2064.0),
 ('weisswa01', 'Weiss', 'Walt', 'COL', 523.0, 648.0, '1994', '2016', 1171.0),
 ('roberda07', 'Roberts', 'Dave', 'SDN', 244.0, 1.0, '2005', '2015', 245.0),
 ('sandbry01', 'Sandberg', 'Ryne', 'PHI', 13.0, 278.0, '1981', '2015', 291.0),
 ('alomasa02', 'Alomar', 'Sandy', 'CLE', 985.0, 6.0, '1990', '2012', 991.0),
 ('guilloz01', 'Guillen', 'Ozzie', 'CHA', 1743.0, 1295.0, '1985', '2011', 3038.0),
 ('clarkda05', 'Clark', 'Dave', 'HOU', 93.0, 13.0, '1998', '2009', 106.0),
 ('randowi01', 'Randolph', 'Willie', 'NYN', 90.0, 555.0, '1992', '2008', 645.0),
 ('garneph01', 'Garner', 'Phil', 'HOU', 753.0, 530.0, '1981', '2007', 1283.0),
 ('aloufe01', 'Alou', 'Felipe', 'SFN', 719.0, 646.0, '1958', '2006', 1365.0),
 ('bochybr01', 'Bochy', 'Bruce', 'SDN', 209.0, 1926.0, '1983', '2006', 2135.0),
 ('mcclell01', 'McClendon', 'Lloyd', 'PIT', 312.0, 782.0, '1990', '2005', 1094.0),
 ('trammal01', 'Trammell', 'Alan', 'DET', 2293.0, 486.0, '1977', '2005', 2779.0),
 ('bowala01', 'Bowa', 'Larry', 'PHI', 1739.0, 645.0, '1970', '2004', 2384.0),
 ('varshga01', 'Varsho', 'Gary', 'PHI', 72.0, 2.0, '1995', '2004', 74.0),
 ('knighra01', 'Knight', 'Ray', 'CIN', 595.0, 262.0, '1974', '2003', 857.0),
 ('bakerdu01', 'Baker', 'Dusty', 'SFN', 100.0, 1556.0, '1984', '2002', 1656.0),
 ('kimmbr01', 'Kimm', 'Bruce', 'CHN', 9.0, 78.0, '1979', '2002', 87.0),
 ('martibu01', 'Martinez', 'Buck', 'TOR', 454.0, 215.0, '1981', '2002', 669.0),
 ('skinnjo01', 'Skinner', 'Joel', 'CLE', 227.0, 76.0, '1989', '2002', 303.0),
 ('valenbo02', 'Valentine', 'Bobby', 'NYN', 111.0, 1003.0, '1977', '2002', 1114.0),
 ('aloufe01', 'Alou', 'Felipe', 'MON', 19.0, 1408.0, '1973', '2001', 1427.0),
 ('dierkla01', 'Dierker', 'Larry', 'HOU', 346.0, 783.0, '1964', '2001', 1129.0),
 ('kellyto01', 'Kelly', 'Tom', 'MIN', 49.0, 2386.0, '1975', '2001', 2435.0),
 ('hargrmi01', 'Hargrove', 'Mike', 'CLE', 888.0, 1312.0, '1979', '1999', 2200.0),
 ('hoffmgl01', 'Hoffman', 'Glenn', 'LAN', 40.0, 88.0, '1987', '1998', 128.0),
 ('johnsti01', 'Johnson', 'Tim', 'TOR', 111.0, 162.0, '1978', '1998', 273.0),
 ('russebi01', 'Russell', 'Bill', 'LAN', 2181.0, 322.0, '1969', '1998', 2503.0),
 ('boonebo01', 'Boone', 'Bob', 'KCA', 171.0, 387.0, '1989', '1997', 558.0),
 ('johnsda02', 'Johnson', 'Davey', 'BAL', 995.0, 326.0, '1965', '1997', 1321.0),
 ('greenda02', 'Green', 'Dallas', 'NYN', 4.0, 512.0, '1966', '1996', 516.0),
 ('jorgemi01', 'Jorgensen', 'Mike', 'SLN', 131.0, 96.0, '1984', '1995', 227.0),
 ('larusto01', 'LaRussa', 'Tony', 'OAK', 88.0, 1471.0, '1968', '1995', 1559.0),
 ('torrejo01', 'Torre', 'Joe', 'SLN', 918.0, 706.0, '1969', '1995', 1624.0),
 ('hobsobu01', 'Hobson', 'Butch', 'BOS', 623.0, 439.0, '1975', '1994', 1062.0),
 ('mcraeha01', 'McRae', 'Hal', 'KCA', 1837.0, 563.0, '1973', '1994', 2400.0),
 ('oatesjo01', 'Oates', 'Johnny', 'BAL', 90.0, 561.0, '1970', '1994', 651.0),
 ('rodgebu01', 'Rodgers', 'Buck', 'CAL', 513.0, 313.0, '1965', '1994', 826.0),
 ('howear01', 'Howe', 'Art', 'HOU', 706.0, 810.0, '1976', '1993', 1516.0),
 ('perezto01', 'Perez', 'Tony', 'CIN', 1948.0, 44.0, '1964', '1993', 1992.0),
 ('harrato01', 'Harrah', 'Toby', 'TEX', 1220.0, 76.0, '1972', '1992', 1296.0),
 ('plummbi01', 'Plummer', 'Bill', 'SEA', 41.0, 162.0, '1978', '1992', 203.0),
 ('cubbami01', 'Cubbage', 'Mike', 'NYN', 67.0, 7.0, '1981', '1991', 74.0),
 ('harrebu01', 'Harrelson', 'Bud', 'NYN', 1322.0, 274.0, '1965', '1991', 1596.0),
 ('robinfr02', 'Robinson', 'Frank', 'BAL', 827.0, 516.0, '1966', '1991', 1343.0),
 ('wathajo01', 'Wathan', 'John', 'KCA', 860.0, 557.0, '1976', '1991', 1417.0),
 ('zimmedo01', 'Zimmer', 'Don', 'CHN', 260.0, 524.0, '1960', '1991', 784.0),
 ('dentbu01', 'Dent', 'Bucky', 'NYA', 695.0, 89.0, '1977', '1990', 784.0),
 ('schoere01', 'Schoendienst', 'Red', 'SLN', 1795.0, 1999.0, '1945', '1990', 3794.0),
 ('edwardo01', 'Edwards', 'Doc', 'CLE', 63.0, 380.0, '1962', '1989', 443.0),
 ('helmsto01', 'Helms', 'Tommy', 'CIN', 851.0, 64.0, '1964', '1989', 915.0),
 ('rosepe01', 'Rose', 'Pete', 'CIN', 2722.0, 786.0, '1963', '1989', 3508.0),
 ('martibi02', 'Martin', 'Billy', 'NYA', 528.0, 941.0, '1950', '1988', 1469.0),
 ('pinielo01', 'Piniella', 'Lou', 'NYA', 1037.0, 417.0, '1974', '1988', 1454.0),
 ('stubimo01', 'Stubing', 'Moose', 'CAL', 5.0, 8.0, '1967', '1988', 13.0),
 ('vukovjo01', 'Vukovich', 'John', 'PHI', 153.0, 9.0, '1970', '1988', 162.0),
 ('newmaje01', 'Newman', 'Jeff', 'OAK', 652.0, 10.0, '1976', '1986', 662.0),
 ('berrayo01', 'Berra', 'Yogi', 'NYA', 2116.0, 342.0, '1946', '1985', 2458.0),
 ('davenji01', 'Davenport', 'Jim', 'SFN', 1502.0, 144.0, '1958', '1985', 1646.0),
 ('gardnbi02', 'Gardner', 'Billy', 'MIN', 45.0, 621.0, '1961', '1985', 666.0),
 ('lillibo01', 'Lillis', 'Bob', 'HOU', 613.0, 537.0, '1962', '1985', 1150.0),
 ('torrejo01', 'Torre', 'Joe', 'ATL', 398.0, 486.0, '1966', '1984', 884.0),
 ('corrapa01', 'Corrales', 'Pat', 'PHI', 65.0, 248.0, '1964', '1983', 313.0),
 ('eliale01', 'Elia', 'Lee', 'CHN', 15.0, 285.0, '1968', '1983', 300.0),
 ('michage01', 'Michael', 'Gene', 'NYA', 789.0, 168.0, '1968', '1982', 957.0),
 ('amalfjo01', 'Amalfitano', 'Joey', 'CHN', 212.0, 185.0, '1964', '1981', 397.0),
 ('fregoji01', 'Fregosi', 'Jim', 'CAL', 1059.0, 486.0, '1965', '1981', 1545.0),
 ('goryljo01', 'Goryl', 'Johnny', 'MIN', 159.0, 73.0, '1962', '1981', 232.0),
 ('greenda02', 'Green', 'Dallas', 'PHI', 189.0, 299.0, '1960', '1981', 488.0),
 ('torrejo01', 'Torre', 'Joe', 'NYN', 254.0, 709.0, '1975', '1981', 963.0),
 ('boyerke01', 'Boyer', 'Ken', 'SLN', 1667.0, 357.0, '1955', '1980', 2024.0),
 ('howsedi01', 'Howser', 'Dick', 'NYA', 148.0, 163.0, '1967', '1980', 311.0),
 ('peskyjo01', 'Pesky', 'Johnny', 'BOS', 1029.0, 326.0, '1942', '1980', 1355.0),
 ('kessido01', 'Kessinger', 'Don', 'CHA', 226.0, 106.0, '1977', '1979', 332.0),
 ('tracedi01', 'Tracewski', 'Dick', 'DET', 311.0, 2.0, '1966', '1979', 313.0),
 ('dobyla01', 'Doby', 'Larry', 'CHA', 280.0, 87.0, '1956', '1978', 367.0),
 ('robinfr02', 'Robinson', 'Frank', 'CLE', 100.0, 375.0, '1974', '1977', 475.0),
 ('marshji01', 'Marshall', 'Jim', 'CHN', 134.0, 393.0, '1958', '1976', 527.0),
 ('murtada01', 'Murtaugh', 'Danny', 'PIT', 416.0, 2068.0, '1948', '1976', 2484.0),
 ('berrayo01', 'Berra', 'Yogi', 'NYN', 4.0, 588.0, '1965', '1975', 592.0),
 ('mcmilro01', 'McMillan', 'Roy', 'NYN', 346.0, 53.0, '1964', '1975', 399.0),
 ('quilifr01', 'Quilici', 'Frank', 'MIN', 405.0, 568.0, '1965', '1975', 973.0),
 ('asproke01', 'Aspromonte', 'Ken', 'CLE', 159.0, 480.0, '1960', '1974', 639.0),
 ('matheed01', 'Mathews', 'Eddie', 'ATL', 134.0, 311.0, '1966', '1974', 445.0),
 ('houkra01', 'Houk', 'Ralph', 'NYA', 91.0, 1757.0, '1947', '1973', 1848.0),
 ('kaskoed01', 'Kasko', 'Eddie', 'BOS', 58.0, 640.0, '1966', '1973', 698.0),
 ('martibi02', 'Martin', 'Billy', 'DET', 131.0, 452.0, '1958', '1973', 583.0),
 ('virdobi01', 'Virdon', 'Bill', 'PIT', 1415.0, 291.0, '1956', '1973', 1706.0),
 ('hodgegi01', 'Hodges', 'Gil', 'NYN', 65.0, 649.0, '1962', '1971', 714.0),
 ('martibi02', 'Martin', 'Billy', 'MIN', 108.0, 162.0, '1961', '1969', 270.0),
 ('willidi02', 'Williams', 'Dick', 'BOS', 140.0, 477.0, '1963', '1969', 617.0),
 ('mossle01', 'Moss', 'Les', 'CHA', 132.0, 36.0, '1955', '1968', 168.0),
 ('adcocjo01', 'Adcock', 'Joe', 'CLE', 97.0, 162.0, '1963', '1967', 259.0),
 ('runnepe01', 'Runnels', 'Pete', 'BOS', 732.0, 16.0, '1958', '1966', 748.0),
 ('stricge01', 'Strickland', 'George', 'CLE', 734.0, 112.0, '1952', '1966', 846.0),
 ('swiftbo01', 'Swift', 'Bob', 'DET', 642.0, 99.0, '1944', '1966', 741.0),
 ('tebbebi01', 'Tebbetts', 'Birdie', 'CLE', 97.0, 538.0, '1951', '1966', 635.0),
 ('sisledi01', 'Sisler', 'Dick', 'CIN', 11.0, 215.0, '1952', '1965', 226.0),
 ('sulliha02', 'Sullivan', 'Haywood', 'KC1', 252.0, 136.0, '1961', '1965', 388.0),
 ('bauerha01', 'Bauer', 'Hank', 'KC1', 138.0, 264.0, '1960', '1962', 402.0),
 ('hardeme01', 'Harder', 'Mel', 'CLE', 584.0, 3.0, '1928', '1962', 587.0),
 ('higgipi01', 'Higgins', 'Pinky', 'BOS', 356.0, 1119.0, '1937', '1962', 1475.0),
 ('tappeel01', 'Tappe', 'El', 'CHN', 145.0, 117.0, '1954', '1962', 262.0),
 ('hemusso01', 'Hemus', 'Solly', 'SLN', 708.0, 384.0, '1949', '1961', 1092.0),
 ('gordojo01', 'Gordon', 'Joe', 'CLE', 566.0, 335.0, '1947', '1960', 901.0),
 ('grimmch01', 'Grimm', 'Charlie', 'CHN', 1334.0, 1737.0, '1925', '1960', 3071.0),
 ('hitchbi01', 'Hitchcock', 'Billy', 'DET', 110.0, 1.0, '1942', '1960', 111.0),
 ('schefbo01', 'Scheffing', 'Bob', 'CHN', 437.0, 465.0, '1941', '1959', 902.0),
 ('yorkru01', 'York', 'Rudy', 'BOS', 202.0, 1.0, '1946', '1959', 203.0),
 ('rignebi01', 'Rigney', 'Bill', 'NY1', 655.0, 308.0, '1946', '1957', 963.0),
 ('hackst01', 'Hack', 'Stan', 'CHN', 1938.0, 465.0, '1932', '1956', 2403.0),
 ('harribu01', 'Harris', 'Bucky', 'DET', 11.0, 1078.0, '1929', '1956', 1089.0),
 ('lopezal01', 'Lopez', 'Al', 'CLE', 61.0, 930.0, '1947', '1956', 991.0),
 ('stanked01', 'Stanky', 'Eddie', 'SLN', 70.0, 501.0, '1952', '1955', 571.0),
 ('walkeha01', 'Walker', 'Harry', 'SLN', 437.0, 118.0, '1940', '1955', 555.0),
 ('boudrlo01', 'Boudreau', 'Lou', 'BOS', 86.0, 463.0, '1951', '1954', 549.0),
 ('harribu01', 'Harris', 'Bucky', 'WS1', 1250.0, 2776.0, '1919', '1954', 4026.0),
 ('hutchfr01', 'Hutchinson', 'Fred', 'DET', 354.0, 396.0, '1939', '1954', 750.0),
 ('joosted01', 'Joost', 'Eddie', 'PHA', 917.0, 156.0, '1947', '1954', 1073.0),
 ('cavarph01', 'Cavarretta', 'Phil', 'CHN', 1953.0, 384.0, '1934', '1953', 2337.0),
 ('dykesji01', 'Dykes', 'Jimmy', 'PHA', 1703.0, 466.0, '1918', '1953', 2169.0),
 ('marioma01', 'Marion', 'Marty', 'SLA', 70.0, 258.0, '1952', '1953', 328.0),
 ('holmeto01', 'Holmes', 'Tommy', 'BSN', 1289.0, 130.0, '1942', '1952', 1419.0),
 ('hornsro01', 'Hornsby', 'Rogers', 'SLA', 67.0, 647.0, '1933', '1952', 714.0),
 ('marioma01', 'Marion', 'Marty', 'SLN', 1502.0, 155.0, '1940', '1951', 1657.0),
 ('oneilst01', "O'Neill", 'Steve', 'BOS', 106.0, 249.0, '1924', '1951', 355.0),
 ('southbi01', 'Southworth', 'Billy', 'BSN', 337.0, 789.0, '1921', '1951', 1126.0),
 ('boudrlo01', 'Boudreau', 'Lou', 'CLE', 1560.0, 1389.0, '1938', '1950', 2949.0),
 ('dyered01', 'Dyer', 'Eddie', 'SLN', 129.0, 777.0, '1922', '1950', 906.0),
 ('coonejo01', 'Cooney', 'Johnny', 'BSN', 859.0, 46.0, '1921', '1949', 905.0),
 ('kuheljo01', 'Kuhel', 'Joe', 'WS1', 1205.0, 308.0, '1930', '1949', 1513.0),
 ('waltebu01', 'Walters', 'Bucky', 'CIN', 341.0, 206.0, '1938', '1949', 547.0),
 ('chapmbe01', 'Chapman', 'Ben', 'PHI', 25.0, 474.0, '1945', '1948', 499.0),
 ('durocle01', 'Durocher', 'Leo', 'BRO', 345.0, 1318.0, '1938', '1948', 1663.0),
 ('lyonste01', 'Lyons', 'Ted', 'CHA', 704.0, 434.0, '1923', '1948', 1138.0),
 ('ottme01', 'Ott', 'Mel', 'NY1', 2730.0, 1004.0, '1926', '1948', 3734.0),
 ('bluegos01', 'Bluege', 'Ossie', 'WS1', 1867.0, 772.0, '1922', '1947', 2639.0),
 ('burwebi01', 'Burwell', 'Bill', 'PIT', 4.0, 1.0, '1928', '1947', 5.0),
 ('cronijo01', 'Cronin', 'Joe', 'BOS', 1134.0, 2007.0, '1935', '1947', 3141.0),
 ('hermabi01', 'Herman', 'Billy', 'PIT', 15.0, 155.0, '1947', '1947', 170.0),
 ('ruelmu01', 'Ruel', 'Muddy', 'SLA', 46.0, 154.0, '1915', '1947', 200.0),
 ('sukefcl01', 'Sukeforth', 'Clyde', 'BRO', 124.0, 2.0, '1932', '1947', 126.0),
 ('davissp01', 'Davis', 'Spud', 'PIT', 233.0, 3.0, '1940', '1946', 236.0),
 ('dickebi01', 'Dickey', 'Bill', 'NYA', 1789.0, 105.0, '1928', '1946', 1894.0),
 ('dykesji01', 'Dykes', 'Jimmy', 'CHA', 580.0, 1850.0, '1933', '1946', 2430.0),
 ('mckecbi01', 'McKechnie', 'Bill', 'CIN', 85.0, 1386.0, '1916', '1946', 1471.0),
 ('sewellu01', 'Sewell', 'Luke', 'SLA', 6.0, 850.0, '1941', '1946', 856.0),
 ('southbi01', 'Southworth', 'Billy', 'SLN', 210.0, 981.0, '1926', '1945', 1191.0),
 ('stengca01', 'Stengel', 'Casey', 'BSN', 143.0, 870.0, '1924', '1943', 1013.0),
 ('bakerde01', 'Baker', 'Del', 'DET', 174.0, 778.0, '1914', '1942', 952.0),
 ('loberha01', 'Lobert', 'Hans', 'PHI', 497.0, 153.0, '1911', '1942', 650.0),
 ('peckiro01', 'Peckinpaugh', 'Roger', 'CLE', 86.0, 975.0, '1910', '1941', 1061.0),
 ('terrybi01', 'Terry', 'Bill', 'NY1', 1720.0, 1496.0, '1923', '1941', 3216.0),
 ('bladera01', 'Blades', 'Ray', 'SLN', 767.0, 194.0, '1922', '1940', 961.0),
 ('gonzami01', 'Gonzalez', 'Mike', 'SLN', 568.0, 23.0, '1915', '1940', 591.0),
 ('hartnga01', 'Hartnett', 'Gabby', 'CHN', 1927.0, 383.0, '1922', '1940', 2310.0),
 ('mackea01', 'Mack', 'Earle', 'PHA', 5.0, 125.0, '1910', '1939', 130.0),
 ('traynpi01', 'Traynor', 'Pie', 'PIT', 1941.0, 868.0, '1920', '1939', 2809.0),
 ('cochrmi01', 'Cochrane', 'Mickey', 'DET', 315.0, 600.0, '1934', '1938', 915.0),
 ('friscfr01', 'Frisch', 'Frankie', 'SLN', 1311.0, 822.0, '1927', '1938', 2133.0),
 ('grimebu01', 'Grimes', 'Burleigh', 'BRO', 328.0, 306.0, '1918', '1938', 634.0),
 ('melilsk01', 'Melillo', 'Ski', 'SLA', 1147.0, 10.0, '1926', '1938', 1157.0),
 ('wilsoji01', 'Wilson', 'Jimmie', 'PHI', 838.0, 763.0, '1923', '1938', 1601.0),
 ('bottoji01', 'Bottomley', 'Jim', 'SLA', 205.0, 78.0, '1936', '1937', 283.0),
 ('dressch01', 'Dressen', 'Chuck', 'CIN', 630.0, 498.0, '1925', '1937', 1128.0),
 ('mckecbi01', 'McKechnie', 'Bill', 'BSN', 1.0, 1235.0, '1913', '1937', 1236.0),
 ('oneilst01', "O'Neill", 'Steve', 'CLE', 1365.0, 373.0, '1911', '1937', 1738.0),
 ('perkicy01', 'Perkins', 'Cy', 'DET', 1.0, 15.0, '1934', '1937', 16.0),
 ('stengca01', 'Stengel', 'Casey', 'BRO', 676.0, 463.0, '1912', '1936', 1139.0),
 ('ofarrbo01', "O'Farrell", 'Bob', 'SLN', 387.0, 153.0, '1925', '1935', 540.0),
 ('cronijo01', 'Cronin', 'Joe', 'WS1', 940.0, 308.0, '1928', '1934', 1248.0),
 ('fonsele01', 'Fonseca', 'Lew', 'CHA', 162.0, 318.0, '1931', '1934', 480.0),
 ('gibsoge01', 'Gibson', 'George', 'PIT', 1174.0, 733.0, '1905', '1934', 1907.0),
 ('ofarrbo01', "O'Farrell", 'Bob', 'CIN', 44.0, 91.0, '1934', '1934', 135.0),
 ('careyma01', 'Carey', 'Max', 'BRO', 298.0, 311.0, '1926', '1933', 609.0),
 ('falkbi01', 'Falk', 'Bibb', 'CLE', 286.0, 1.0, '1929', '1933', 287.0),
 ('hornsro01', 'Hornsby', 'Rogers', 'SLN', 1580.0, 271.0, '1915', '1933', 1851.0),
 ('killebi01', 'Killefer', 'Bill', 'SLA', 85.0, 553.0, '1909', '1933', 638.0),
 ('mcmanma01', 'McManus', 'Marty', 'BOS', 216.0, 248.0, '1931', '1933', 464.0),
 ('sothoal01', 'Sothoron', 'Allan', 'SLA', 163.0, 8.0, '1914', '1933', 171.0),
 ('streega01', 'Street', 'Gabby', 'SLN', 1.0, 556.0, '1929', '1933', 557.0),
 ('collish01', 'Collins', 'Shano', 'BOS', 465.0, 208.0, '1921', '1932', 673.0),
 ('hornsro01', 'Hornsby', 'Rogers', 'CHN', 317.0, 259.0, '1929', '1932', 576.0),
 ('johnswa01', 'Johnson', 'Walter', 'WS1', 937.0, 617.0, '1907', '1932', 1554.0),
 ('mcgrajo01', 'McGraw', 'John', 'NY1', 59.0, 4424.0, '1902', '1932', 4483.0),
 ('ensje01', 'Ens', 'Jewel', 'PIT', 67.0, 344.0, '1922', '1931', 411.0),
 ('shawkbo01', 'Shawkey', 'Bob', 'NYA', 415.0, 154.0, '1915', '1930', 569.0),
 ('wagnehe01', 'Wagner', 'Heinie', 'BOS', 966.0, 154.0, '1906', '1930', 1120.0),
 ('austiji01', 'Austin', 'Jimmy', 'SLA', 1315.0, 75.0, '1911', '1929', 1390.0),
 ('blackle01', 'Blackburne', 'Lena', 'CHA', 322.0, 232.0, '1910', '1929', 554.0),
 ('carribi02', 'Carrigan', 'Bill', 'BOS', 710.0, 1003.0, '1906', '1929', 1713.0),
 ('wingoiv01', 'Wingo', 'Ivey', 'CIN', 1010.0, 2.0, '1915', '1929', 1012.0),
 ('hornsro01', 'Hornsby', 'Rogers', 'BSN', 140.0, 122.0, '1928', '1928', 262.0),
 ('moriage02', 'Moriarty', 'George', 'DET', 770.0, 310.0, '1909', '1928', 1080.0),
 ('schalra01', 'Schalk', 'Ray', 'CHA', 1757.0, 228.0, '1912', '1928', 1985.0),
 ('bancrda01', 'Bancroft', 'Dave', 'BSN', 445.0, 615.0, '1924', '1927', 1060.0),
 ('hornsro01', 'Hornsby', 'Rogers', 'NY1', 155.0, 33.0, '1927', '1927', 188.0),
 ('mcinnst01', 'McInnis', 'Stuffy', 'PHI', 1.0, 155.0, '1927', '1927', 156.0),
 ('sislege01', 'Sisler', 'George', 'SLA', 1646.0, 462.0, '1915', '1927', 2108.0),
 ('cobbty01', 'Cobb', 'Ty', 'DET', 2806.0, 933.0, '1905', '1926', 3739.0),
 ('collied01', 'Collins', 'Eddie', 'CHA', 1668.0, 336.0, '1915', '1926', 2004.0),
 ('fletcar01', 'Fletcher', 'Art', 'PHI', 212.0, 612.0, '1920', '1926', 824.0),
 ('mckecbi01', 'McKechnie', 'Bill', 'PIT', 369.0, 707.0, '1907', '1926', 1076.0),
 ('speaktr01', 'Speaker', 'Tris', 'CLE', 1521.0, 1139.0, '1916', '1926', 2660.0),
 ('killebi01', 'Killefer', 'Bill', 'CHN', 314.0, 596.0, '1918', '1925', 910.0),
 ('maranra01', 'Maranville', 'Rabbit', 'CHN', 75.0, 53.0, '1925', '1925', 128.0),
 ('eversjo01', 'Evers', 'Johnny', 'CHA', 1.0, 124.0, '1922', '1924', 125.0),
 ('walshed01', 'Walsh', 'Ed', 'CHA', 459.0, 3.0, '1904', '1924', 462.0),
 ('bushdo01', 'Bush', 'Donie', 'WS1', 77.0, 155.0, '1921', '1923', 232.0),
 ('gleaski01', 'Gleason', 'Kid', 'CHA', 1.0, 759.0, '1912', '1923', 760.0),
 ('mitchfr01', 'Mitchell', 'Fred', 'BSN', 4.0, 462.0, '1913', '1923', 466.0),
 ('milancl01', 'Milan', 'Clyde', 'WS1', 1982.0, 154.0, '1907', '1922', 2136.0),
 ('wilheka01', 'Wilhelm', 'Kaiser', 'PHI', 4.0, 221.0, '1921', '1922', 225.0),
 ('eversjo01', 'Evers', 'Johnny', 'CHN', 1409.0, 251.0, '1902', '1921', 1660.0),
 ('grohhe01', 'Groh', 'Heinie', 'CIN', 1211.0, 10.0, '1913', '1921', 1221.0),
 ('mcbrige01', 'McBride', 'George', 'WS1', 1459.0, 154.0, '1908', '1921', 1613.0),
 ('peckiro01', 'Peckinpaugh', 'Roger', 'NYA', 1220.0, 20.0, '1913', '1921', 1240.0),
 ('cravaga01', 'Cravath', 'Gavvy', 'PHI', 1104.0, 228.0, '1912', '1920', 1332.0),
 ('griffcl01', 'Griffith', 'Clark', 'WS1', 3.0, 1364.0, '1912', '1920', 1367.0),
 ('jennihu01', 'Jennings', 'Hughie', 'DET', 6.0, 2127.0, '1907', '1920', 2133.0),
 ('barryja01', 'Barry', 'Jack', 'BOS', 319.0, 157.0, '1915', '1919', 476.0),
 ('mathech01', 'Mathewson', 'Christy', 'CIN', 1.0, 346.0, '1916', '1918', 347.0),
 ('moranpa01', 'Moran', 'Pat', 'PHI', 117.0, 587.0, '1910', '1918', 704.0),
 ('donovbi01', 'Donovan', 'Bill', 'NYA', 11.0, 465.0, '1915', '1917', 476.0),
 ('huggimi01', 'Huggins', 'Miller', 'SLN', 804.0, 774.0, '1910', '1917', 1578.0),
 ('wagneho01', 'Wagner', 'Honus', 'PIT', 2434.0, 5.0, '1900', '1917', 2439.0),
 ('herzobu01', 'Herzog', 'Buck', 'CIN', 372.0, 401.0, '1914', '1916', 773.0),
 ('tinkejo01', 'Tinker', 'Joe', 'CHN', 1540.0, 156.0, '1902', '1916', 1696.0),
 ('wallabo01', 'Wallace', 'Bobby', 'SLA', 1568.0, 192.0, '1902', '1916', 1760.0),
 ('birmijo01', 'Birmingham', 'Joe', 'CLE', 772.0, 368.0, '1906', '1915', 1140.0),
 ('blairwa01', 'Blair', 'Walter', 'BUF', 226.0, 2.0, '1914', '1915', 228.0),
 ('bresnro01', 'Bresnahan', 'Roger', 'CHN', 249.0, 157.0, '1900', '1915', 406.0),
 ('clarkfr01', 'Clarke', 'Fred', 'PIT', 1479.0, 2427.0, '1900', '1915', 3906.0),
 ('jonesfi01', 'Jones', 'Fielder', 'SLF', 12.0, 199.0, '1914', '1915', 211.0),
 ('knabeot01', 'Knabe', 'Otto', 'BLF', 250.0, 315.0, '1914', '1915', 565.0),
 ('lordha01', 'Lord', 'Harry', 'BUF', 97.0, 110.0, '1915', '1915', 207.0),
 ('mageele01', 'Magee', 'Lee', 'BRF', 121.0, 118.0, '1915', '1915', 239.0),
 ('mckecbi01', 'McKechnie', 'Bill', 'NEW', 127.0, 102.0, '1915', '1915', 229.0),
 ('oakesre01', 'Oakes', 'Rebel', 'PTF', 298.0, 299.0, '1914', '1915', 597.0),
 ('rickebr01', 'Rickey', 'Branch', 'SLA', 68.0, 330.0, '1905', '1915', 398.0),
 ('schlala01', 'Schlafly', 'Larry', 'BUF', 51.0, 197.0, '1914', '1915', 248.0),
 ('stovage01', 'Stovall', 'George', 'KCF', 254.0, 307.0, '1914', '1915', 561.0),
 ('tinkejo01', 'Tinker', 'Joe', 'CHF', 157.0, 314.0, '1914', '1915', 471.0),
 ('bradlbi01', 'Bradley', 'Bill', 'BRF', 7.0, 157.0, '1914', '1914', 164.0),

### Notes, Comments

## Determining Lifespan (10 points)

### Question

1. A person was a player if their playerID appears in ```Lahman2017.appearances.```
<br><br>
1. A person is "known to be dead" if ```people.deathYear``` is NOT ```''``` (the empty string)
<br><br>
1. Return a table that contains the ten players and former players known to be dead with the longest lifespans. The table's rows should contain:
    - playerID
    - nameLast
    - nameFirst
    - DOD (Date of Death) in the format (YYYY-MM-DD)
    - DOB (Date if Birth) in the format (YYYY-MM-DD)
    - lifespan, number of days between DOD and DOB, in days.
<br><br>
1. Your table must match the column names and column values in the sample answer.

### Answer

In [18]:
%%sql
select playerid, nameLast, nameFirst,
		str_to_date(concat(if(birthMonth="", NULL, birthMonth), "/",
			if(birthDay="", NULL, birthDay), "/", if(birthYear="",NULL,birthYear)), "%m/%d/%Y") as DOB,
		str_to_date(concat(if(deathMonth="", NULL, deathMonth), "/",
			if(deathDay="", NULL, deathDay), "/", if(deathYear="",NULL,deathYear)), "%m/%d/%Y") as DOD,
		(-1*datediff(str_to_date(concat(if(deathMonth="", NULL, birthMonth), "/",
			if(birthDay="", NULL, birthDay), "/", if(birthYear="", NULL,birthYear)), "%m/%d/%Y"),
			str_to_date(concat(if(deathMonth="", NULL, deathMonth), "/",
				if(deathDay="", NULL, deathDay), "/", if(deathYear="",NULL,deathYear)), "%m/%d/%Y"))) as life_span

from people
where playerid in (select playerid from appearances) and
	(-1*datediff(str_to_date(concat(if(birthMonth="",NULL, birthMonth), "/" ,
		if(birthDay="", NULL, birthday), "/", if(birthYear="",NULL,birthYear)), "%m/%d/%Y"),
        str_to_date(concat(if(deathMonth="",NULL, deathMonth), "/",
			if(deathDay="", NULL, deathDay), "/", if(deathYear="",NULL,deathYear)), "%m/%d/%Y"))) is not NULL
order by life_span desc
limit 10;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
10 rows affected.

[('hoffch01', 'Hoff', 'Red', datetime.date(1891, 5, 8), datetime.date(1998, 9, 17), 39213),
 ('marreco01', 'Marrero', 'Connie', datetime.date(1911, 4, 25), datetime.date(2014, 4, 23), 37619),
 ('wrighbo01', 'Wright', 'Bob', datetime.date(1891, 12, 13), datetime.date(1993, 7, 30), 37119),
 ('parkeac01', 'Parker', 'Ace', datetime.date(1912, 5, 17), datetime.date(2013, 11, 6), 37063),
 ('malinto01', 'Malinosky', 'Tony', datetime.date(1909, 10, 7), datetime.date(2011, 2, 8), 37014),
 ('swanska01', 'Swanson', 'Karl', datetime.date(1900, 12, 17), datetime.date(2002, 4, 3), 36997),
 ('daleyjo01', 'Daley', 'John', datetime.date(1887, 5, 25), datetime.date(1988, 8, 31), 36988),
 ('otisbi01', 'Otis', 'Bill', datetime.date(1889, 12, 24), datetime.date(1990, 12, 15), 36880),
 ('stilero01', 'Stiles', 'Rollie', datetime.date(1906, 11, 17), datetime.date(2007, 7, 22), 36772),
 ('werbebi01', 'Werber', 'Billy', datetime.date(1908, 6, 20), datetime.date(2009, 1, 22), 36741)]

### Notes, Comments

## Odd Hall of Fame Members (10 points)

### Question

1. Use the table ```HallOfFame.``` A person is in the ```HallOfFame``` if there is a row with ```inducted='Y'```
<br><br>
1. A person was a player in __Major League Baseball__ if their ```playerID``` is in ```Appearances``` and a manager if their ```playerID``` is in ```Managers.```
<br><br>
1. Write a query that returns
    - playerID, nameLast, nameFirst, inducted, yearid, category
    - For people in the ```HallOfFame``` who were not players or managers in Major League Baseball.
<br><br>
1. Your answer __MUST__ match the sample answer.

### Answer

In [19]:
%%sql
select
	playerid,
    (select nameLast from people where people.playerID=halloffame.playerID) as nameLast,
    (select nameFirst from people where people.playerID=halloffame.playerID) as nameFirst,
    inducted, category, yearid

from
	halloffame
where
	playerid not in (select playerid from appearances) and 
    playerid not in (select playerid from managers)
    and inducted='Y'
order by yearid asc
limit 10;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
10 rows affected.

[('bulkemo99', 'Bulkeley', 'Morgan', 'Y', 'Pioneer/Executive', '1937'),
 ('johnsba99', 'Johnson', 'Ban', 'Y', 'Pioneer/Executive', '1937'),
 ('cartwal99', 'Cartwright', 'Alexander', 'Y', 'Pioneer/Executive', '1938'),
 ('chadwhe99', 'Chadwick', 'Henry', 'Y', 'Pioneer/Executive', '1938'),
 ('landike99', 'Landis', 'Kenesaw', 'Y', 'Pioneer/Executive', '1944'),
 ('connoto99', 'Connolly', 'Tommy', 'Y', 'Umpire', '1953'),
 ('klembi99', 'Klem', 'Bill', 'Y', 'Umpire', '1953'),
 ('frickfo99', 'Frick', 'Ford', 'Y', 'Pioneer/Executive', '1970'),
 ('weissge99', 'Weiss', 'George', 'Y', 'Pioneer/Executive', '1971'),
 ('gibsojo99', 'Gibson', 'Josh', 'Y', 'Player', '1972')]

### Notes, Comments

## Teams that Played in Boston (10 points)

### Question

1. The ```Teams``` table contains information about teams and their seasons. Interesting columns are:
    - ```teamID```
    - ```franchID```
    - ```name```
    - ```park,``` which is the name of the facility (stadium) in which the team played.
<br><br>
1. The ```Parks``` table contains information about park names, their cities and states.
<br><br>
1. JOINing ```Teams``` and ```Parks``` should enable finding teams that played in cities, except the ```Teams``` table and ```Parks``` table sometimes have slightly different names for the park/stadium. This requires matching instead equality.
<br><br>
1. Write a query that returns the ```teamID, franchID, team name, park.name``` from ```Parks``` for all teams that played in Boston.
<br><br>
1. Your answer __MUST__ exactly match the sample answer.

### Answer

In [20]:
%%sql
select distinct teamid, franchid, a.team_name, b.`park.name`

from 
	(select
		distinct teamid, franchid, name as team_name, park from Teams where park!= "") as a
join
	(select * from parks) as b
where
	b.city='Boston' and a.park like concat('%', b.`park.name`, '%')
order by team_name;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
20 rows affected.

[('BSN', 'ATL', 'Boston Beaneaters', 'South End Grounds I'),
 ('BSN', 'ATL', 'Boston Beaneaters', 'South End Grounds II'),
 ('BSN', 'ATL', 'Boston Beaneaters', 'Congress Street Grounds'),
 ('BSN', 'ATL', 'Boston Beaneaters', 'South End Grounds III'),
 ('BSN', 'ATL', 'Boston Bees', 'Braves Field'),
 ('BSN', 'ATL', 'Boston Braves', 'South End Grounds I'),
 ('BSN', 'ATL', 'Boston Braves', 'South End Grounds II'),
 ('BSN', 'ATL', 'Boston Braves', 'South End Grounds III'),
 ('BSN', 'ATL', 'Boston Braves', 'Fenway Park'),
 ('BSN', 'ATL', 'Boston Braves', 'Braves Field'),
 ('BSN', 'ATL', 'Boston Doves', 'South End Grounds I'),
 ('BSN', 'ATL', 'Boston Doves', 'South End Grounds II'),
 ('BSN', 'ATL', 'Boston Doves', 'South End Grounds III'),
 ('BSN', 'ATL', 'Boston Red Caps', 'South End Grounds I'),
 ('BOS', 'BOS', 'Boston Red Sox', 'Fenway Park'),
 ('BS1', 'BNA', 'Boston Red Stockings', 'South End Grounds I'),
 ('BS2', 'BRS', 'Boston Reds', 'Congress Street Grounds'),
 ('BSN', 'ATL', 'Boston Rustlers', 'South End Grounds I'),
 ('BSN', 'ATL', 'Boston Rustlers', 'South End Grounds II'),
 ('BSN', 'ATL', 'Boston Rustlers', 'South End Grounds III')]

### Notes, Comments

- Two point bonus question: Why would someone name a team in Boston the "Beaneaters?"


- Hint: Below is part of a famous toast,

_"And this is good old Boston, <br>
The home of the bean and the cod. <br>
Where the Lowells talk only to Cabots, <br>
And the Cabots talk only to God."_ <br>
<br>
John Collins Bossidy: A toast given at Holy Cross College alumni dinner in 1910.


- Enter you explanation here.

# Relational/Document Mapping (15 points)

## Question

### Schema

- Tables: The two tables below represent ```Orders``` and ```OrderDetails```


- ```orderdetails``` is a [Weak Entity](https://en.wikipedia.org/wiki/Weak_entity) that depends on and is logically contained inside an ```order.```

```
CREATE TABLE `orders` (
  `orderNumber` int(11) NOT NULL,
  `orderDate` date NOT NULL,
  `requiredDate` date NOT NULL,
  `shippedDate` date DEFAULT NULL,
  `status` varchar(15) NOT NULL,
  `comments` text,
  `customerNumber` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `orderdetails` (
  `orderNumber` int(11) NOT NULL,
  `productCode` varchar(15) NOT NULL,
  `quantityOrdered` int(11) NOT NULL,
  `priceEach` decimal(10,2) NOT NULL,
  `orderLineNumber` smallint(6) NOT NULL,
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

- You must create the tables in a new schema you create. The schema name is of the form "uni_midterm" Please replace the string "uni" with your UNI. If your answer does do the replacement and your schema is "uni_midterm", we will chuckle and shake our heads.


- You also must define a primary key in each table and any foreign key relationships. ```orderNumber``` is the primary key in ```orders.```

### Question Tasks

1. Create the tables in a schema called `uni_midterm` and replace "uni" with your UNI.
<br><br>
1. Write a python function ```create_order(o)``` that
    1. Takes a data structure like the onea below.
    2. Inserts the order fields in the ```order``` table and the order details information in the ```orderdetails``` table.
    3. There are sample JSON for orders/ordersdetails below.
<br><br>
1. Your code must generate a unique ```orderNumber``` for the created order.
<br><br>
1. The function returns the ```orderNumber``` for the created order.
<br><br>
1. You may modify the table schema if you want.
<br><br>
1. Test your function on the two orders below.
<br><br>
1. Write a SQL query that returns information about an order and its details.

```
{
    "order":
        {
            "orderDate": "2003-01-06",
            "requiredDate": "2003-01-13",
            "shippedDate": "2003-01-10",
            "status": "Shipped",
            "comments": null,
            "customerNumber": 363
        },
    "orderdetails": 
        [
        {
            "productCode": "S24_3969",
            "quantityOrdered": 49,
            "priceEach": "35.29",
            "orderLineNumber": 1
        },
        {
            "productCode": "S18_2248",
            "quantityOrdered": 50,
            "priceEach": "55.09",
            "orderLineNumber": 2
        },
        {
            "productCode": "S18_1749",
            "quantityOrdered": 30,
            "priceEach": "136.00",
            "orderLineNumber": 3
        },
        {
            "productCode": "S18_4409",
            "quantityOrdered": 22,
            "priceEach": "75.46",
            "orderLineNumber": 4
        }
    ]
}
```

```
{
    "order":
        "orderDate": "2003-01-09",
        "requiredDate": "2003-01-18",
        "shippedDate": "2003-01-11",
        "status": "Shipped",
        "comments": "Check on availability.",
        "customerNumber": 128
    }
    "orderdetails": [
    {
            "orderNumber": 10101,
            "productCode": "S18_2795",
            "quantityOrdered": 26,
            "priceEach": "167.06",
            "orderLineNumber": 1
        },
        {
            "orderNumber": 10101,
            "productCode": "S24_2022",
            "quantityOrdered": 46,
            "priceEach": "44.35",
            "orderLineNumber": 2
        },
        {
            "orderNumber": 10101,
            "productCode": "S24_1937",
            "quantityOrdered": 45,
            "priceEach": "32.53",
            "orderLineNumber": 3
        },
        {
            "orderNumber": 10101,
            "productCode": "S18_2325",
            "quantityOrdered": 25,
            "priceEach": "108.06",
            "orderLineNumber": 4
        }
    ]
}
```

## Answer

### Schema and Table Creation

In [30]:
%%sql

CREATE TABLE `gc2677_midterm`.`orders` (
  `orderNumber` INT(11) NOT NULL,
  `orderDate` DATE NOT NULL,
  `requiredDate` DATE NOT NULL,
  `shippedDate` DATE DEFAULT NULL,
  `status` VARCHAR(45) NULL,
  `comments` text,
  `customerNumber` INT(11) NOT NULL,
  PRIMARY KEY (`orderNumber`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


CREATE TABLE `gc2677_midterm`.`orderdetails` (
  `orderNumber` INT(11) NOT NULL,
  `productCode` VARCHAR(15) NOT NULL,
  `quantityOrdered` INT(11) NOT NULL,
  `priceEach` DECIMAL(10,2) NOT NULL,
  `orderLineNumber` SMALLINT(6) NOT NULL,
  PRIMARY KEY (`orderNumber`, `orderLineNumber`),
    KEY `ol_to_p_idx` (`productCode`),
    CONSTRAINT `od_to_o` FOREIGN KEY (`orderNumber`) REFERENCES `orders` (`orderNumber`)
        ON DELETE NO ACTION ON UPDATE NO ACTION
)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.
0 rows affected.

[]

### Python Functions

In [32]:
def get_maximum_value(dbname, tablename, column, cursor=None, commit=True):
    
    result2 = None
    q= "SELECT max(" + column + ") as max_v from " + dbname + "." + tablename
    
    result = run_q(cnx=None, q=q, args=None, commit=commit, cursor=cursor, fetch=True)
    
    if result and len(result) > 0:
        result2 = result[0].get('max_v', None)
        if result2 is None:
            result2 = 0
    else:
        result2 = 0
    
    return result2

In [39]:
def insert(dbname, tablename, new_r, cnx=None, cursor=None, commit=None, rowid=None):
    
    cols = list(new_r.keys())
    args = [new_r[k] for k in cols]
    
    slots = ['%s' for c in cols]
    
    cols = " (" + ",".join(cols) + ") "
    vals = " values(" + ",".join(slots) + ") "
    tbl = dbname + "." + tablename
    
    q = "insert into " + tbl + " " + cols + " " + vals
    result = run_q(cnx=cnx, q=q, args=args, commit=commit, rowid=rowid, cursor=cursor)
    
    return result


def insert_doc(dbname, doc, key_col, cursor=None, commit=None):
    
    cnx = get_connection("docs",
                        host="localhost",
                        port=3306,
                        db="gc2677_midterm",
                        user="dbuser",
                        password="dbuserdbuser")
    
    try:
        cursor = cnx.cursor()
        
        keys = list(doc.keys())
        
        pk = keys[0]
        max_v = get_maximum_value(dbname, keys[0], key_col, cursor=cursor, commit=False)
        
        max_v+=1
        root = doc[keys[0]]
        root[key_col] = max_v

        
        r = insert(dbname, keys[0], doc[keys[0]], cursor=cursor, commit=False)
        
        for k in keys[1:]:
            tbl = doc[k]
            
            for r in tbl:
                r[key_col] = max_v
                tmp = insert(dbname,k,r,cursor=cursor, commit=False)
                
        cnx.commit()
        cnx.close()
        
    except Exception as e:
        print("Exception: ", e)
        cnx.commit()
        cnx.close()
        
    return max_v

### Tests

We __MAY__ test your code and SQL statements.

#### Test Data

In [36]:
o_all_1 = {
    "orders":
        {
            "orderDate": "2003-01-06",
            "requiredDate": "2003-01-13",
            "shippedDate": "2003-01-10",
            "status": "Shipped",
            "comments": None,
            "customerNumber": 363
        },
    "orderdetails": 
        [
        {
            "productCode": "S24_3969",
            "quantityOrdered": 49,
            "priceEach": "35.29",
            "orderLineNumber": 1
        },
        {
            "productCode": "S18_2248",
            "quantityOrdered": 50,
            "priceEach": "55.09",
            "orderLineNumber": 2
        },
        {
            "productCode": "S18_1749",
            "quantityOrdered": 30,
            "priceEach": "136.00",
            "orderLineNumber": 3
        },
        {
            "productCode": "S18_4409",
            "quantityOrdered": 22,
            "priceEach": "75.46",
            "orderLineNumber": 4
        }
    ]
}

In [37]:
o_all_2 = {
    "orders":
        {
            "orderDate": "2003-01-06",
            "requiredDate": "2003-01-13",
            "shippedDate": "2003-01-10",
            "status": "Shipped",
            "comments": None,
            "customerNumber": 363
        },
    "orderdetails": 
        [
        {
            "productCode": "S24_3969",
            "quantityOrdered": 49,
            "priceEach": "35.29",
            "orderLineNumber": 1
        },
        {
            "productCode": "S18_2248",
            "quantityOrdered": 50,
            "priceEach": "55.09",
            "orderLineNumber": 2
        },
        {
            "productCode": "S18_1749",
            "quantityOrdered": 30,
            "priceEach": "136.00",
            "orderLineNumber": 3
        },
        {
            "productCode": "S18_4409",
            "quantityOrdered": 22,
            "priceEach": "75.46",
            "orderLineNumber": 4
        }
    ]
}

#### Test Execution

In [51]:
%%sql 
delete from gc2677_midterm.orderdetails;
delete from gc2677_midterm.orders;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
12 rows affected.
3 rows affected.

[]

In [52]:
insert_doc('gc2677_midterm', o_all_1, 'orderNumber')

1

In [53]:
insert_doc('gc2677_midterm', o_all_2, 'orderNumber')

2

#### SQL Query

In [54]:
%%sql
select * from gc2677_midterm.orderdetails

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
8 rows affected.

[(1, 'S24_3969', 49, Decimal('35.29'), 1),
 (1, 'S18_2248', 50, Decimal('55.09'), 2),
 (1, 'S18_1749', 30, Decimal('136.00'), 3),
 (1, 'S18_4409', 22, Decimal('75.46'), 4),
 (2, 'S24_3969', 49, Decimal('35.29'), 1),
 (2, 'S18_2248', 50, Decimal('55.09'), 2),
 (2, 'S18_1749', 30, Decimal('136.00'), 3),
 (2, 'S18_4409', 22, Decimal('75.46'), 4)]

In [55]:
%%sql 
select * from gc2677_midterm.orders join gc2677_midterm.orderdetails using(orderNumber)

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
8 rows affected.

[(1, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S24_3969', 49, Decimal('35.29'), 1),
 (1, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_2248', 50, Decimal('55.09'), 2),
 (1, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_1749', 30, Decimal('136.00'), 3),
 (1, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_4409', 22, Decimal('75.46'), 4),
 (2, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S24_3969', 49, Decimal('35.29'), 1),
 (2, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_2248', 50, Decimal('55.09'), 2),
 (2, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_1749', 30, Decimal('136.00'), 3),
 (2, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_4409', 22, Decimal('75.46'), 4)]

## Notes, Comments

# Data Modeling (15 points)

## Question

- __Note:__ Use the schema uni_midterm for these tables.


- The _Contact_ application's conceptual data model has the following _conceptual entities and properties._ 


- The properties in the _conceptual model do not necessarily map directly to columns_ in the _logical_ and _physical_ models.


- _Person:_

| Property | Type | Example | Comments |
| :---: | :---: |
| id | Integer | 21 | Auto-incremented; primary key |
| Name | String | "Donald Ferguson" | |
| Created | Datetime | 2019-03-06 10:51:59 | |


<br>
- _Email:_ 

| Property | Type | Example | Comments |
| :---: | :---: |
| id | Integer | 21 | Auto-incremented; primary key |
| email | String | "dff9@mars.gov" | |


<br><br>
- _Phone:_ 

| Property | Type | Example | Comments |
| :---: | :---: |
| id | Integer | 11 | Auto-incremented; primary key |
| Phone | String | "+1 914-555-1212" | |

<br>
<br>
- _Address:_ 

| Property | Type | Example | Comments |
| :---: | :---: |
| id | Integer | 101 | Auto-incremented; primary key |
| Street | String | "620 W. 120th Street" | |
| City | String | "Boston" | |
| State | String | "MA" | |
| Country | String | "France" |
| Postcode | String | "12345" |


- _Contact Types:_ These represents the types of relationships. There can be __at most__ one instance of the relationship between a person and a contact type. For example, a person can have at most one _business email._ The predefined contact types are:
    - _Personal_
    - _Business_
    - _Home_
    - _Other_
    
    
- A _Person_ may have have contacts of more than one type, and a specific contact entity may apply to more than one person.
    
    
- Define and implement a physical schema that realizes the model.
    - Define the tables.
    - Create the reverse engineered model into a diagram.

## Answer

- Your diagram and table create statements go here.

<img src="model.png">

In [ ]:
"""DROP TABLE IF EXISTS `addresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `addresses` (
  `adress_id` int(11) NOT NULL,
  `street1` varchar(45) NOT NULL,
  `street2` varchar(45) NOT NULL,
  `postal_code` int(11) NOT NULL,
  PRIMARY KEY (`adress_id`),
  KEY `addr_to_pc_idx` (`postal_code`),
  CONSTRAINT `addr_to_pc` FOREIGN KEY (`postal_code`) REFERENCES `postalcodes` (`postal_code_id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cities`
--

DROP TABLE IF EXISTS `cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cities` (
  `city_id` int(11) NOT NULL,
  `city_name` varchar(45) NOT NULL,
  `country_code` varchar(45) NOT NULL,
  `state_code` int(11) NOT NULL,
  PRIMARY KEY (`city_id`),
  KEY `c_to_s_idx` (`state_code`),
  CONSTRAINT `c_to_s` FOREIGN KEY (`state_code`) REFERENCES `states` (`state_id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `countries`
--

DROP TABLE IF EXISTS `countries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `countries` (
  `Name` varchar(45) NOT NULL,
  `Code` varchar(45) NOT NULL,
  PRIMARY KEY (`Code`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `emails`
--

DROP TABLE IF EXISTS `emails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emails` (
  `email_id` int(11) NOT NULL,
  `email_value` varchar(128) NOT NULL,
  PRIMARY KEY (`email_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `person_email`
--

DROP TABLE IF EXISTS `person_email`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `person_email` (
  `email_id` int(11) NOT NULL,
  `person_id` int(11) NOT NULL,
  `kind` enum('PERSONAL','BUSINESS','HOME','OTHER') NOT NULL,
  PRIMARY KEY (`email_id`,`person_id`,`kind`),
  KEY `e_to_p_idx` (`person_id`),
  CONSTRAINT `e_to_e_idx` FOREIGN KEY (`email_id`) REFERENCES `emails` (`email_id`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `e_to_p` FOREIGN KEY (`person_id`) REFERENCES `persons` (`personid`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `person_phone`
--

DROP TABLE IF EXISTS `person_phone`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `person_phone` (
  `person_id` int(11) NOT NULL,
  `phone_id` int(11) NOT NULL,
  `kind` enum('PERSONAL','BUSINESS','HOME','OTHER') NOT NULL,
  PRIMARY KEY (`person_id`,`phone_id`,`kind`),
  KEY `p_to_ph_idx_idx` (`phone_id`),
  CONSTRAINT `p_to_ph` FOREIGN KEY (`phone_id`) REFERENCES `phoneinfo` (`phone_info_id`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `p_tp_per` FOREIGN KEY (`phone_id`) REFERENCES `persons` (`personid`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `persons`
--

DROP TABLE IF EXISTS `persons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `persons` (
  `personid` int(11) NOT NULL,
  `last_name` varchar(45) DEFAULT NULL,
  `first_name` varchar(45) DEFAULT NULL,
  `person_created` datetime DEFAULT NULL,
  PRIMARY KEY (`personid`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `persons_address`
--

DROP TABLE IF EXISTS `persons_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `persons_address` (
  `person_id` int(11) NOT NULL,
  `address_id` int(11) NOT NULL,
  `kind` enum('PERSONAL','HOME','BUSINESS','OTHER') NOT NULL,
  PRIMARY KEY (`person_id`,`address_id`,`kind`),
  KEY `add_to_add_idx` (`address_id`),
  CONSTRAINT `add_to_add` FOREIGN KEY (`address_id`) REFERENCES `addresses` (`adress_id`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `add_to_p` FOREIGN KEY (`person_id`) REFERENCES `persons` (`personid`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `phoneinfo`
--

DROP TABLE IF EXISTS `phoneinfo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phoneinfo` (
  `phone_info_id` int(11) NOT NULL,
  `country_code` int(11) NOT NULL,
  `phone_number` varchar(45) NOT NULL,
  PRIMARY KEY (`phone_info_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `postalcodes`
--

DROP TABLE IF EXISTS `postalcodes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `postalcodes` (
  `postal_code_id` int(11) NOT NULL,
  `postal_code` varchar(45) NOT NULL,
  `city_code` int(11) NOT NULL,
  `state_code` int(11) NOT NULL,
  `country_code` varchar(4) NOT NULL,
  PRIMARY KEY (`postal_code_id`),
  KEY `addr_to_pc_idx` (`postal_code`),
  KEY `pc_to_country_idx` (`country_code`),
  KEY `pc_to_city_idx` (`city_code`),
  KEY `pc_to_state_idx` (`state_code`),
  CONSTRAINT `pc_to_city` FOREIGN KEY (`city_code`) REFERENCES `cities` (`city_id`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `pc_to_country` FOREIGN KEY (`country_code`) REFERENCES `countries` (`Code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `pc_to_state` FOREIGN KEY (`state_code`) REFERENCES `states` (`state_id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `states`
--

DROP TABLE IF EXISTS `states`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `states` (
  `state_id` int(11) NOT NULL,
  `name` varchar(45) NOT NULL,
  `country_code` varchar(45) NOT NULL,
  PRIMARY KEY (`state_id`),
  KEY `s_to_c_idx` (`country_code`),
  CONSTRAINT `s_to_c` FOREIGN KEY (`country_code`) REFERENCES `countries` (`Code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
"""

## Notes and Comments

# Data Cleanse (15 points)

## Question

- Importing raw data from CSV files and other sources is very common in all disciplines that use databases. 


- Data science, analytics and general application development regularly require cleaning up the raw data.


- ```People``` from Lahman2017 is an example of raw data that requires schema and data cleanup. The table definition that the MySql import tool produces is below.


- Convert the table to a cleaner, more useful form. You do not need to worry about other tables and foreign keys. This means:
    - Change the schema (column types, constraints, etc)
    - You may have to consolidate columns, add columns and drop columns.
    - Modify the data to match the schema.
    - Run a query with limit 10 to show the transformed date and schema.


- Do not ask, "How many improvements are necessary?" The answer is, "All of them."

```
CREATE TABLE `People` (
  `playerID` text,
  `birthYear` text,
  `birthMonth` text,
  `birthDay` text,
  `birthCountry` text,
  `birthState` text,
  `birthCity` text,
  `deathYear` text,
  `deathMonth` text,
  `deathDay` text,
  `deathCountry` text,
  `deathState` text,
  `deathCity` text,
  `nameFirst` text,
  `nameLast` text,
  `nameGiven` text,
  `weight` text,
  `height` text,
  `bats` text,
  `throws` text,
  `debut` text,
  `finalGame` text,
  `retroID` text,
  `bbrefID` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

- Implement the cleanup. This involves:
    - Providing your final table definition.
    - SQL statements you used to probe/examine the data.
    - SQL statements you used to transform the data to comply with the new table definition.
    

## Answer

- The answer below contains the SQL statements you used to
    - Probe the data for understanding.
    - Alter data in the database.
    - Modify the schema.


- We __MAY__ test your SQL.

In [67]:
%%sql
select count(*) as total_rows,
count(distinct(retroID)) as count_retroID,
count(distinct(playerid)) as count_playerid,
count(distinct(bbrefid)) as count_bbrefid

from people

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(19370, 19315, 19370, 19370)]

#### We see that both bbrefid and playerid can work as pk

In [68]:
%sql select max(length(playerid)) from people

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(9,)]

In [72]:
%sql select * from people limit 10

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
10 rows affected.

[('aardsda01', '1981', '12', '27', 'USA', 'CO', 'Denver', '', '', '', '', '', '', 'David', 'Aardsma', 'David Allan', '215', '75', 'R', 'R', '2004-04-06', '2015-08-23', 'aardd001', 'aardsda01'),
 ('aaronha01', '1934', '2', '5', 'USA', 'AL', 'Mobile', '', '', '', '', '', '', 'Hank', 'Aaron', 'Henry Louis', '180', '72', 'R', 'R', '1954-04-13', '1976-10-03', 'aaroh101', 'aaronha01'),
 ('aaronto01', '1939', '8', '5', 'USA', 'AL', 'Mobile', '1984', '8', '16', 'USA', 'GA', 'Atlanta', 'Tommie', 'Aaron', 'Tommie Lee', '190', '75', 'R', 'R', '1962-04-10', '1971-09-26', 'aarot101', 'aaronto01'),
 ('aasedo01', '1954', '9', '8', 'USA', 'CA', 'Orange', '', '', '', '', '', '', 'Don', 'Aase', 'Donald William', '190', '75', 'R', 'R', '1977-07-26', '1990-10-03', 'aased001', 'aasedo01'),
 ('abadan01', '1972', '8', '25', 'USA', 'FL', 'Palm Beach', '', '', '', '', '', '', 'Andy', 'Abad', 'Fausto Andres', '184', '73', 'L', 'L', '2001-09-10', '2006-04-13', 'abada001', 'abadan01'),
 ('abadfe01', '1985', '12', '17', 'D.R.', 'La Romana', 'La Romana', '', '', '', '', '', '', 'Fernando', 'Abad', 'Fernando Antonio', '220', '73', 'L', 'L', '2010-07-28', '2017-10-01', 'abadf001', 'abadfe01'),
 ('abadijo01', '1850', '11', '4', 'USA', 'PA', 'Philadelphia', '1905', '5', '17', 'USA', 'NJ', 'Pemberton', 'John', 'Abadie', 'John W.', '192', '72', 'R', 'R', '1875-04-26', '1875-06-10', 'abadj101', 'abadijo01'),
 ('abbated01', '1877', '4', '15', 'USA', 'PA', 'Latrobe', '1957', '1', '6', 'USA', 'FL', 'Fort Lauderdale', 'Ed', 'Abbaticchio', 'Edward James', '170', '71', 'R', 'R', '1897-09-04', '1910-09-15', 'abbae101', 'abbated01'),
 ('abbeybe01', '1869', '11', '11', 'USA', 'VT', 'Essex', '1962', '6', '11', 'USA', 'VT', 'Colchester', 'Bert', 'Abbey', 'Bert Wood', '175', '71', 'R', 'R', '1892-06-14', '1896-09-23', 'abbeb101', 'abbeybe01'),
 ('abbeych01', '1866', '10', '14', 'USA', 'NE', 'Falls City', '1926', '4', '27', 'USA', 'CA', 'San Francisco', 'Charlie', 'Abbey', 'Charles S.', '169', '68', 'L', 'L', '1893-08-16', '1897-08-19', 'abbec101', 'abbeych01')]

In [78]:
%%sql
select count(distinct birthDay) as count_b_day,
    count(distinct birthMonth)  as count_b_month,
    count(distinct birthYear) as count_b_year
from people

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(32, 13, 167)]

Note that there are more than 31 days.

In [80]:
%%sql
select distinct birthMonth from people

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
13 rows affected.

[('12',),
 ('2',),
 ('8',),
 ('9',),
 ('11',),
 ('4',),
 ('10',),
 ('3',),
 ('6',),
 ('7',),
 ('1',),
 ('5',),
 ('',)]

In [81]:
%%sql
update people set birthYear=NULL where birthYear="";
update people set birthMonth=NULL where birthMonth="";
update people set birthDay=NULL where birthDay="";

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
126 rows affected.
290 rows affected.
435 rows affected.

[]

In [82]:
%%sql
update people set deathYear=NULL where deathYear="";
update people set deathMonth=NULL where deathMonth="";
update people set deathDay=NULL where deathDay="";

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
9820 rows affected.
9821 rows affected.
9822 rows affected.

[]

In [85]:
%%sql
ALTER TABLE people
    ADD COLUMN DOD DATETIME,
    ADD COLUMN DOB DATETIME;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.

[]

In [86]:
%%sql
update people
    set DOB=STR_TO_DATE(concat(birthDay, "/", birthMonth, "/", birthYear), "%d/%m/%Y");

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
19370 rows affected.

[]

In [87]:
%%sql
update people
    set DOD=STR_TO_DATE(concat(deathDay, "/", deathMonth, "/", deathYear), "%d/%m/%Y");

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
19370 rows affected.

[]

In [93]:
%%sql
select *
    from 
        (select distinct birthcountry from people as a
        union
        select distinct deathCountry from people as b) as c;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
59 rows affected.

[('USA',),
 ('D.R.',),
 ('Venezuela',),
 ('Cuba',),
 ('Mexico',),
 ('Panama',),
 ('CAN',),
 ('P.R.',),
 ('Russia',),
 ('Curacao',),
 ('Colombia',),
 ('Nicaragua',),
 ('Germany',),
 ('Norway',),
 ('Japan',),
 ('Ireland',),
 ('Italy',),
 ('Bahamas',),
 ('United Kingdom',),
 ('South Korea',),
 ('Australia',),
 ('Czech Republic',),
 ('V.I.',),
 ('Netherlands',),
 ('France',),
 ('Aruba',),
 ('',),
 ('Sweden',),
 ('Hong Kong',),
 ('Afghanistan',),
 ('Spain',),
 ('Greece',),
 ('Taiwan',),
 ('Philippines',),
 ('Jamaica',),
 ('Poland',),
 ('Brazil',),
 ('Viet Nam',),
 ('Guam',),
 ('Denmark',),
 ('Switzerland',),
 ('Austria',),
 ('Singapore',),
 ('China',),
 ('Belgium',),
 ('Belize',),
 ('Indonesia',),
 ('Finland',),
 ('Lithuania',),
 ('South Africa',),
 ('At Sea',),
 ('Slovakia',),
 ('American Samoa',),
 ('Saudi Arabia',),
 ('Honduras',),
 ('Latvia',),
 ('North Korea',),
 ('San Marino',),
 ('Costa Rica',)]

## Notes and Comments

playerid is primary key

# Inheritance, Triggers and Stored Procedures (15 points)

## Question

- The last lecture covered a 3 table solution to inheritance for ```Person, Student``` and ```Faculty.```


- The entity types are the following:


- _Person:_

| Property | Type | Example | Comments |
| :---: | :---: |
| uni | varchar | "dff9" | Computed by database functions; immutable. |
| last_name | varchar | "Ferguson" | |
| first_name | varchar | "Donald" | |
| type | enum("Student", "Faculty", "Multiple") | "Student" | |
| created | Datetime | 2019-03-06 10:51:59 | Immutable. Generated on create. |


- _Faculty:_ A faculty entity is a subclass ("IsA") _Person_ and has all of the properties of _Person._ _Faculty_ has the following additional properties.

| Property | Type | Example | Comments |
| :---: | :---: |
| title | varchar | "Terrifying database professor" | |
| department | varchar | "Computer Science" | |


- _Student:_ A student entity is a subclass ("IsA") _Person_ and has all of the properties of _Person._ _Student_ has the following additional properties.

| Property | Type | Example | Comments |
| :---: | :---: |
| enrollment_year | Date | 2019-09-01 | |
| major | varchar | "Computer Science, but seriously reevaluating life choices and probably changing because of W4111. Yak herding looks pretty good now." | |



- Requirements
    - Solve the problem using a [two table solution.](https://www.vertabelo.com/blog/technical-articles/inheritance-in-a-relational-database)
    - The model is __COMPLETE.__ There are no _Person_ entities that are neither _Student_ or _Faculty._
    - The model is __NOT__ disjoint. There are _Person_ entities that are both a _Student_ and a _Faculty._
    - You __MUST:__
        - Generate the UNI using first name and last name. This requires a function and triggers.
        - Enforce immutability for ```uni``` and ```created.``` This requires triggers.
        - Provide a procedure ```create_person().``` This procedures's parameters are the fields necessary to create a _Student_ and _Faculty._ The procedure creates the _Student_ entry, _Faculty_ entry or both depending on the inputs.
        - A _view_ that supports ```SELECT``` on _Person._
        - Create a new database user "default_user" with password "dbuserdbuser."
        - Demonstrate the "default_user"
            - Cannot access the tables.
            - Can call ```create_person()```
            - Can query the _Person_ view.
            
        
- Use the schema "uni_midterm".


- We will test the answer you provide in the code cells below.

## Answer

### Create Table/View Statements

In [ ]:
%sql create statements

### Create Trigger, Function and Procedure Statements

In [ ]:
%sql create statements

### Tests

#### Create 3 Students, 3 Faculty Members and Two Persons that are Both.

In [ ]:
%sql data creations

#### Demonstrate Queries

Write queries that return:
- All students
- All faculty
- All persons that are both.

In [ ]:
%sql queries

#### User Rights

- Execute the following SQL statement.

In [56]:
%sql SHOW GRANTS FOR 'default_user'@'localhost';

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw

InternalError: (pymysql.err.InternalError) (1141, "There is no such grant defined for user 'default_user' on host 'localhost'") [SQL: "SHOW GRANTS FOR 'default_user'@'localhost';"] (Background on this error at: http://sqlalche.me/e/2j85)